@model List<Tozepty.Models.UserViewModel>
@{
    ViewBag.Title = "Customer Details";
}

<h2>View Profile</h2>

<div class="container">
    <h4>@Model.FirstName , profile</h4>
    <table class="table">
        <tr>
            <th>Customer ID</th>
            <td>@Model.ID</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <th>User Name</th>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <th>Action</th>
            <td class="">
                <ul class="list-inline">
                    <li class="list-inline-item btn-outline-secondary text-center"><a href="@Url.Action("Index", "Product", new { customerId = @Model.ID })" class="btn btn-secondary">Back</a></li>
                    <li class="list-inline-item text-center  btn-outline-primary"><a href="@Url.Action("EditAdmin", "Admin", new { customerId = @Model.ID })" class="btn btn-primary">Edit</a></li>
                </ul>
            </td>
        </tr>
    </table>

</div>